{% macro loader() -%}
<div id="loader">
  <div class="ring"></div>
</div>
{%- endmacro %}

{% macro ctrl_neutral1(data) -%}
<div class="col-xs-5 col-md-2  round-8 padding-05 device"  id="{{ data.get('sid') }}">
  <div class="row center-xs">
    <div class="col-xs-12">
      <p class="txt-center">{{ data.get('name') }}</p>
    </div>
  </div>
  
  <div class="row center-xs">
    <div class="col-xs-6" >
      <button class="btn-small device-status" data-sid="{{ data.get('sid') }}" data-status="channel_0" data-model="{{ data.get('model') }}">On</button>
    </div>
    
  </div>
</div>
{%- endmacro %}

{% macro ctrl_neutral2(data) -%}
<div class="col-xs-5 col-md-2  round-8 padding-05 device"  id="{{ data.get('sid') }}">
  <div class="row center-xs">
    <div class="col-xs-12">
      <p class="txt-center">{{ data.get('name') }}</p>
    </div>
  </div>
  
  <div class="row center-xs">
    <div class="col-xs-6" >
      <button class="btn-small device-status" data-sid="{{ data.get('sid') }}" data-status="channel_0" data-model="{{ data.get('model') }}">On</button>
    </div>
    
    <div class="col-xs-6" >
      <button class="btn-small device-status" data-sid="{{ data.get('sid') }}" data-status="channel_1" data-model="{{ data.get('model') }}">On</button>
    </div>
    
  </div>
</div>
{%- endmacro %}

{% macro plug(data) -%}
<div class="col-xs-5 col-md-2  round-8 padding-05 device"  id="{{ data.get('sid') }}">
  <div class="row center-xs">
    <div class="col-xs-12">
      <p class="txt-center">{{ data.get('name') }}</p>
    </div>
  </div>
  
  <div class="row center-xs">
    <div class="col-xs-6" >
      <button class="btn-small device-status"  data-sid="{{ data.get('sid') }}" data-model="{{ data.get('model') }}" data-status="status">On</button>
    </div>
  </div>
</div>
{%- endmacro %}

{% macro bslamp1(data) -%}
<div class="col-xs-5 col-md-2  round-8 padding-05 device"  id="{{ data.get('sid') }}">
  <div class="row center-xs">
    <div class="col-xs-12">
      <p class="txt-center">{{ data.get('name') }}</p>
    </div>
  </div>
  
  <div class="row center-xs">
    <div class="col-xs-6" >
      <button class="btn-small device-status" data-sid="{{ data.get('sid') }}" data-model="{{ data.get('model') }}" data-status="power" data-cmd="set_power">On</button>
    </div>

    <div class="col-xs-6" >
      <button class="btn-small color-set-button" data-sid="{{ data.get('sid') }}">Set</button>
    </div>
  </div>
</div>
{%- endmacro %}

{% macro rgbstrip(data) -%}
<div class="col-xs-5 col-md-2  round-8 padding-05 device"  id="{{ data.get('sid') }}">
  <div class="row center-xs">
    <div class="col-xs-12">
      <p class="txt-center">{{ data.get('name') }}</p>
    </div>
  </div>
  
  <div class="row center-xs">
    <div class="col-xs-6" >
      <button class="btn-small device-status" data-sid="{{ data.get('sid') }}" data-model="{{ data.get('model') }}" data-status="status">On</button>
    </div>

    <div class="col-xs-6" >
      <button class="btn-small color-set-button" data-sid="{{ data.get('sid') }}">Set</button>
    </div>
  </div>
</div>
{%- endmacro %}

{% macro color(data) -%}
<div class="col-xs-5 col-md-2  round-8 padding-05 device"  id="{{ data.get('sid') }}">
  <div class="row center-xs">
    <div class="col-xs-12">
      <p class="txt-center">{{ data.get('name') }}</p>
    </div>
  </div>
  
  <div class="row center-xs">
    <div class="col-xs-6" >
      <button class="btn-small device-status" data-sid="{{ data.get('sid') }}" data-model="{{ data.get('model') }}" data-status="power" data-cmd="set_power">On</button>
    </div>

    <div class="col-xs-6" >
      <button class="btn-small color-set-button" data-sid="{{ data.get('sid') }}">Set</button>
    </div>
  </div>
</div>
{%- endmacro %}

{% macro sensor_ht(data) -%}
<div class="col-xs-5 col-md-2  round-8 padding-05 device"  id="{{ data.get('sid') }}">
  <div class="row center-xs">
    <div class="col-xs-12">
      <p class="txt-center">{{ data.get('name') }}</p>
    </div>
  </div>
  
  <div class="row center-xs">
    <div class="col-xs-12" >
      <label class="label">Temp: </label><span class='device-status' data-sid="{{ data.get('sid') }}" data-status="temperature">?</span>
    </div>
  </div>

  <div class="row center-xs">
    <div class="col-xs-12" >
      <label class="label">Humidity: </label><span class="device-status" data-sid="{{ data.get('sid') }}" data-status="humidity">?</span>
    </div>
  </div>

  <div class="row center-xs">
    <div class="col-xs-12" >
      <label class="label">Vol: </label><span class="device-status" data-sid="{{ data.get('sid') }}" data-status="voltage">?</span>
    </div>
  </div>
</div>
{%- endmacro %}

{% macro weather_v1(data) -%}
<div class="col-xs-5 col-md-2  round-8 padding-05 device"  id="{{ data.get('sid') }}">
  <div class="row center-xs">
    <div class="col-xs-12">
      <p class="txt-center">{{ data.get('name') }}</p>
    </div>
  </div>

  <div class="row center-xs">
    <div class="col-xs-12" >
      <label class="label">Temp: </label><span class="device-status" data-sid="{{ data.get('sid') }}" data-status="temperature">?</span>
    </div>
  </div>

  <div class="row center-xs">
    <div class="col-xs-12" >
      <label class="label">Humidity: </label><span class="device-status" data-sid="{{ data.get('sid') }}" data-status="humidity">?</span>
    </div>
  </div>

  <div class="row center-xs">
    <div class="col-xs-12" >
      <label class="label">Pressure: </label><span class="device-status" data-sid="{{ data.get('sid') }}" data-status="pressure">?</span>
    </div>
  </div>

  <div class="row center-xs">
    <div class="col-xs-12" >
      <label class="label">Vol: </label><span class="device-status" data-sid="{{ data.get('sid') }}" data-status="voltage">?</span>
    </div>
  </div>
</div>
{%- endmacro %}

{% macro sensor_motion_aq2(data) -%}
<div class="col-xs-5 col-md-2  round-8 padding-05 device"  id="{{ data.get('sid') }}">
  <div class="row center-xs">
    <div class="col-xs-12">
      <p class="txt-center">{{ data.get('name') }}</p>
    </div>
  </div>

  <div class="row center-xs">
    <div class="col-xs-12" >
      <label class="label">Lux: </label><span class="device-status" data-sid="{{ data.get('sid') }}" data-status="lux">?</span>
    </div>
  </div>

  <div class="row center-xs">
    <div class="col-xs-12" >
      <label class="label">No motion: </label><span class="device-status" data-sid="{{ data.get('sid') }}" data-status="no_motion">?</span>
    </div>
  </div>

  <div class="row center-xs">
    <div class="col-xs-12" >
      <label class="label">Status: </label><span class="device-status" data-sid="{{ data.get('sid') }}" data-status="status">?</span>
    </div>
  </div>

  <div class="row center-xs">
    <div class="col-xs-12" >
      <label class="label">Vol: </label><span class="device-status" data-sid="{{ data.get('sid') }}" data-status="voltage">?</span>
    </div>
  </div>

</div>
{%- endmacro %}

{% macro magnet(data) -%}
<div class="col-xs-5 col-md-2  round-8 padding-05 device"  id="{{ data.get('sid') }}">
  <div class="row center-xs">
    <div class="col-xs-12">
      <p class="txt-center">{{ data.get('name') }}</p>
    </div>
  </div>

  <div class="row center-xs">
    <div class="col-xs-12" >
      <label class="label">Status: </label><span class="device-status" data-sid="{{ data.get('sid') }}" data-status="status">?</span>
    </div>
  </div>

  <div class="row center-xs">
    <div class="col-xs-12" >
      <label class="label">Vol: </label><span class="device-status" data-sid="{{ data.get('sid') }}" data-status="voltage">?</span>
    </div>
  </div>
</div>
{%- endmacro %}

{% macro colorset() -%}
<div class="modal-dialog dark" id="color-set">
  <div class="modal-content">
    <div class="modal-header">
        <div class="row between-xs">
            <div class="col-xs-1"><i class="material-icons" id="back">arrow_back</i></div>
            <div class="col-xs-3">Color</div>   
        </div>
    </div>
    <div class="modal-body">
      <div class="row center-xs middle-xs">
        <div class="col-xs-6">
          <button class="btn" id="rgb-btn">Color</button>
        </div>

        <div class="col-xs-6">
          <button class="btn" id="ct-btn">White</button>
        </div>
      </div>

      <div class="row center-xs padding-10 show" id="rgb-tab">
        <div class="col-xs-12">
          
          <div class="row center-xs">
            <div class="col-xs-12 txt-center">
                <label class="label">Bright: </label>
            </div>
          </div>

          <div class="row center-xs">
            <div class="col-xs-12 txt-center">
              <input class="color-range" id="intensity" type="range" step="1" min="0" max="255" value="255">
            </div>
          </div>
        
          <div class="row center-xs">
            <div class="col-xs-12 col-md-4 txt-center">
              <label class="label">Pick Color: </label>
            </div>
          </div>
        
          <div class="row center-xs">
            <div class="col-xs-12 col-md-4">
              <input id="ledPicker" type="color">
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="row center-xs padding-10" id="ct-tab">
      <div class="col-xs-12">  
        <div class="row center-xs">
          <div class="col-xs-12 txt-center">
            <label class="label">Bright: </label>
          </div>
        </div>
  
        <div class="row center-xs">
          <div class="col-xs-12 txt-center">
            <input class="color-range" id="intensity" type="range" step="1" min="0" max="255" value="255">
          </div>
        </div>

        <div class="row center-xs">
          <div class="col-xs-12 txt-center">
            <label class="label">Color temperature: </label>
          </div>
        </div>
    
        <div class="row center-xs">
          <div class="col-xs-12 txt-center">
            <input class="color-range" id="intensity" type="range" step="1" min="0" max="255" value="255">
          </div>
        </div>
          
      </div>
    </div>
  </div>
</div>
{%- endmacro %}

{% macro scene(name) -%}
<div class="col-xs-5 col-md-2  round-8 padding-05"  id="{{ name }}">
  <div class="row center-xs">
    <div class="col-xs-12">
      <p class="txt-center">{{ name }}</p>
    </div>
  </div>
  
  <div class="row center-xs">
    <div class="col-xs-6" >
      <button class="btn-small" data-sid="{{ name }}" data-status="on">On</button>
    </div>
    
    <div class="col-xs-6" >
      <button class="btn-small" data-sid="{{ name }}" data-status="off">Off</button>
    </div>
    
  </div>
</div>
{%- endmacro %}