{% extends 'layout.html' %}
{% block head %}
{{ super() }}
  <script async type="application/dart" src="/static/leds.dart"></script>
{% endblock %}
{% block content %}
<div class="row center-xs">
    <div class="col-xs-12 col-md-4 txt-center">
        <label class="label">Intesywność: </label>
    </div>
    <div class="col-xs-12 col-md-4 txt-center">
        <input id="intensity" type="range" step="1" min="0" max="255" value="255">
    </div>
    <div class="col-xs-12 col-md-4 txt-center">
        <button id="btn-off" class="btn red">Wyłącz</button>
    </div>
</div>
<div class="row center-xs">
    <div class="col-xs-12 col-md-4 txt-center">
        <label class="label">Wybierz kolor: </label>
    </div>
</div>
<div class="row center-xs">
    <div class="col-xs-12 col-md-4">
        <input id="ledPicker" type="color">
    </div>
</div>
{% endblock %}