[Unit]
Description=homedaemon Service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/usr/local/bin
EnvironmentFile=/etc/homedaemon/env
ExecStart=/usr/bin/java -jar homedaemon-${VERSION}-jar-with-dependencies.jar
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target