[Unit]
Description=Angry home Service
Requires=couchdb.service
After=couchdb.service
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/homed.py -D

[Install]
WantedBy=multi-user.target

