[Unit]
Description=Smart home Service
Requires=mongod.service
After=mongod.service

[Service]
ExecStart=/usr/bin/homed.py

[Install]
WantedBy=multi-user.target
