[Unit]
Description=homedaemon Service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/usr/local/bin
Environment=DEVICE_DIR=/etc/homedaemon/devices.d
Environment=CONFIG_DIR=/etc/homedaemon/configs.d
Environment=AUTOMATION_DIR=/etc/homedaemon/automations.d
ExecStart=/usr/bin/java -jar homedaemon-0.1.0-jar-with-dependencies.jar
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target