[Unit]
Description=Smart home Service
Requires=couchdb.service
After=couchdb.service

[Service]
ExecStart=/usr/bin/homed.py

[Install]
WantedBy=multi-user.target
