<!DOCTYPE html>
<html>
<head>
    <title>Buttons</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
<script>
function makeHttpObject() {
  try {return new XMLHttpRequest();}
  catch (error) {}
  try {return new ActiveXObject("Msxml2.XMLHTTP");}
  catch (error) {}
  try {return new ActiveXObject("Microsoft.XMLHTTP");}
  catch (error) {}

  throw new Error("Could not create HTTP request object.");
}

function sendButton(b,s) {
  var request = makeHttpObject();
  var url = 'buttons?'+ b + '=' + s;
  request.open("POST", url, false);
  request.send(null);
}

</script>
	<header>
		<div id="logo">
			<h1>Smart Home</h1>
		</div>
		<div id="menu">
			<nav role="full-horizontal">
				<ul>
					<li><a href="/">HOME</a></li>
					<li><a href="/leds">LEDS</a></li>
					<li><a href="/buttons">BUTTONS</a></li>
					<li><a href="/scenes">SCENES</a></li>
				</ul>
			</nav>
		</div>
	</header>
    <div id="content">
        {% for b in buttons %}
            <div>
                <button class="buttonOn" type="button" name="{{ b }}" onclick="sendButton('{{ b }}', 'On')">Button {{ b }} On</button>
                <button class="buttonOff" type="button" name="{{ b }}" onclick="sendButton('{{ b }}', 'Off')">Button {{ b }} Off</button>
            </div>
        {% endfor %}
    </div>
	<footer>
		<p>Copyright © 2015 Angrysoft . All Rights Reserved.</p>
		<p>Design by <a target="_blank" href="http://www.angrysoft.eu">Angrysoft</p>
	</footer>
</body>
</html>
