<!DOCTYPE html>
<html>
<head>
    <title>Commands</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
<script src="static/funct.js"></script>

{% include "header.html" %}
    <div id="content">
        {% for b in buttons %}
            <div>
                <button class="buttonOn" type="button" name="{{ b }}" onclick="sendCommand('{{ b }}', 'start')">Command : {{ b }} Start</button>
                <button class="buttonOff" type="button" name="{{ b }}" onclick="sendCommand('{{ b }}', 'stop')">Command : {{ b }} Stop</button>
            </div>
        {% endfor %}
    </div>
	<footer>
		<p>Copyright © 2015 Angrysoft . All Rights Reserved.</p>
		<p>Design by <a target="_blank" href="http://www.angrysoft.eu">Angrysoft</p>
	</footer>
</body>
</html>
