<!DOCTYPE html>
<html>
<head>
    <title>SmartHome</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
	<header>
		<div id="logo">
			<h1>Smart Home</h1>
		</div>
		<div id="menu">
			<nav role="full-horizontal">
				<ul>
					<li><a href="/">HOME</a></li>
					<li><a href="/leds">LEDS</a></li>
					<li><a href="/buttons">BUTTONS</a></li>
					<li><a href="/scenes">SCENES</a></li>
				</ul>
			</nav>
		</div>
	</header>
    <div id="content">
        <span>Temperatura w Domu : ??</span>
        <span>Temperatura na zewnątrz : ??</span>
     </div>
	<footer>
		<p>Copyright © 2015 Angrysoft . All Rights Reserved.</p>
		<p>Design by <a target="_blank" href="http://www.angrysoft.eu">Angrysoft</p>
	</footer>
</body>
</html>
