{% extends 'admin/admin_layout.html' %}
{% block content %}
<div class="container">
    <div class="row center-xs">
        <div class="col-xs-12 panel dark">
            <header>
                System
            </header>
            <section class="row around-xs">
                <div class="col-xs-12 col-md-3">
                    <button class="btn purple" data-cmd="reboot">Reboot</button>
                </div>
                <div class="col-xs-12 col-md-3">
                    <button class="btn purple" data-cmd="restart-homed">Restart AngryHome</button>
                </div>
                <div class="col-xs-12 col-md-3">
                    <button class="btn purple" data-cmd="reload-scenes">Reload Scenes</button>
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}