{% extends 'admin/admin_layout.html' %}
{% block content %}
<div class="container">
    {% for c in config %}
    <div class="row">
        <div class="col-xs-12 panel dark">
            <header>{{ c.get('_id') }}</header>
            <section>
                <table class="table dark striped table-hover expoanded">
                    <thead>
                        <tr>
                            <th>Option</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cc in c %}
                            {% if not cc.startswith('_') %}
                        <tr>
                            <td>{{ cc }}</td>
                            <td>{{ c.get(cc) }}</td>
                        </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </section>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}