{% extends 'admin/admin_layout.html' %}
{% block dart %}
<script defer src="/static/admin/devices.dart.js" type="text/javascript"></script>
{% endblock %}
{% from 'admin/modals.html' import adddev %}
{% block content %}
{{ adddev() }}
<div class="container">
    <div class="row center-xs">
        <div class="col-xs-12 panel dark">
            <button class="btn-floating purple" id="addbtn">+</button>
            <section>
                <table class="table dark striped table-hover expoanded">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>sid</th>
                            <th>model</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for d in devices %}
                        <tr>
                            <td>{{ d.get('name') }}</td>
                            <td>{{ d.get('sid') }}</td>
                            <td>{{ d.get('model') }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
            </section>
        </div>
    </div>
</div>

{% endblock %}