{% extends 'admin_layout.html' %}
{% block dart %}
<script defer src="{{ url_for('static', path='/admin/admin.dart.js') }}" type="text/javascript"></script>
{% endblock %}
{% block content %}
<div class="container">
<div class="loader-wraper">
    <div id="loader"></div>
</div>
    <div class="row center-xs">
        <div class="col-xs-12 panel dark">
            <header>
                System
            </header>
            <section class="row around-xs">
                <div class="col-xs-12 col-md-3">
                    <button class="btn purple" data-cmd="restart-homed">Restart HomeDaemon</button>
                </div>

                <div class="col-xs-12 col-md-3">
                    <button class="btn purple" data-cmd="reboot">Reboot</button>
                </div>

                <div class="col-xs-12 col-md-3">
                    <button class="btn purple" data-cmd="poweroff">PowerOff</button>
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}