<!DOCTYPE html>
<html>
<head>
{% block head %}
  <title>Admin AngryHome</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', path='/angry.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}">
{% endblock %}
  
  {% block dart %}
  {% endblock %}
</head>
<body>
{% block menu %}
<div class="container">
  <div class="row center-xs">
    <nav class="navbar col-xs-12 black">
      <header>
        <div class="menu hamburger"></div>
        <div class="header"><a href="/">Config</a></div>
      </header>
      <div><a href="/">System</a></div>
      <div><a href="/config">Config</a></div>
      <div><a href="/devices">Devices</a></div>
      <div><a href="/tv">TV Pilot</a></div>
      <div class="right"><a href="/logout">Logout</a></div>
    </nav>
  </div>
</div>
{% endblock %}

{% block content %}
{% endblock%}

<div class="container">
  {% block footer %}
  <footer class="txt-center">
		<p>Copyright © 2015-2020 Angrysoft . All Rights Reserved.</p>
		<p>Design by <a target="_blank" href="http://www.angrysoft.ovh">Angrysoft</p>
	</footer>
  {% endblock %}
</div>
</body>
</html>
