<!DOCTYPE html>
<html>
<head>
  <title>SmartHome</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://angrysoft.ovh/angry.min.css">
  <link rel="stylesheet" href="static/styles.css">
  <!--<script src="https://apis.google.com/js/platform.js" async defer></script>-->
  <!--<meta name="google-signin-client_id" content="185939031950-5v1a50htq0hsvf41d86cn6151nu9chmu.apps.googleusercontent.com">-->

</head>
<body>
<div class="container">
  <div class="row center-xs">
    <!--<div class="col-xs-6 g-signin2" data-onsuccess="onSignIn"></div>-->
    
  </div>
</div>
<div class="container">
  {% block footer %}
  <footer class="txt-center">
		<p>Copyright © 2015 Angrysoft . All Rights Reserved.</p>
		<p>Design by <a target="_blank" href="http://www.angrysoft.ovh">Angrysoft</p>
	</footer>
  {% endblock %}
</div>
</body>
</html>