[Unit]
Description=Gunicorn instance to serve homepanel
After=network-online.target
Wants=network-online.target

[Service]
# User=http
# Group=http
RuntimeDirectory=uvicorn
WorkingDirectory=/var/www/homepanel
ExecStart=/usr/bin/uvicorn --host 0.0.0.0 --port 80 HomePanel:app
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true
Restart=always

[Install]
WantedBy=multi-user.target