{
  "debug": "True",
  "serialPort": "/dev/ttyACM0",
  "scenesDir": "../scenes",
  "configDir": "../files",
  "evnetDir": "../events",
  "socketFile": "/tmp/housed.sock",
  "password_mihome": "xxxxxxxxxxx"
}

