[Unit]
Description=SmartHome
Requires=network.target local-fs.target

[Service]
Type=idle
User=smarthouse
#Group=smarthouse
StandardOutput=syslog
StandardError=syslog
ExecStart=/usr/bin/SmartDouse.py


[Install]
WantedBy=multi-user.target